<html>
	<head>
		<title><%= title %></title>
	</head>
	<body >
		<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Library users</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/users/add">New User</a></li>
    </li>
      <li><a href="/users" >Edit Details</a></li>
    </ul>


    </ul>
  </div>
</nav>

		<h1><%= title %></h1>
