<!--
including header content which is common for all pages
-->
<%- include layouts/header.ejs %>

<!--
including footer content which is common for all pages
-->
<%- include layouts/footer.ejs %>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style>
  body{
    background-image:url("https://img5.goodfon.com/wallpaper/nbig/6/ec/knigi-stopka-stol-stranitsy.jpg");
  }
  p{
    font-size: 20px;
    font-style: normal;
  }
  </style>
  <p>This is my application build by using Node.js.<br>
    This is used for recording the details of library users.</p>
    <img src="https://images.all-free-download.com/images/graphicthumb/study_drawing_reading_human_library_icons_decor_6833396.jpg">
